:root {
    --type-color: #71717a;
}

.pokemon-card {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pokemon-card:hover {
    transform: translateY(-5px);
}

.type-bg { background-color: var(--type-color); }
.type-text { color: var(--type-color); }
.type-border { border-color: var(--type-color); }

/* Lazy Loading Blur Effect */
img {
    transition: opacity 0.3s ease-in-out;
}
img[loading="lazy"] {
    opacity: 0;
}
img.loaded {
    opacity: 1;
}

/* Barra de scroll elegante para la lista de movimientos */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ef4444;
    border-radius: 10px;
}
